@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:wght@400;500&display=swap');

.button
 {
     -fx-background-color: transparent;
     -fx-background-radius: 10 10 10 10;
 }
 .button:hover
 {
     -fx-background-color: #27ae60;
     -fx-background-radius: 10 10 10 10;
 }
 .button:pressed
 {
     -fx-background-color: #239c9c;
     -fx-background-radius: 10 10 10 10;
 }

 .label
 {
     -fx-font-family: 'Kantumruy Pro', sans-serif;
 }